<!doctype html>
<html lang="en">
    <head>
        <title>Carrito</title>
        <link rel="icon" type="image/png" href="images/ascensoLogo.png"/>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="styles/Po1_cart.css">
		<script src="https://kit.fontawesome.com/50b8111978.js" crossorigin="anonymous"></script>

        <!-- Modal Login -->
		<div
        class="modal fade"
        id="modalUser"
        tabindex="-1"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        
        role="dialog"
        aria-labelledby="modalTitleId"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Iniciar Sesión
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="email" class="form-label">Correo</label>
                        <div class="mb-3 input-group" >
                            <input type="email" class="form-control" id="email" required>
                            <span class="input-group-text">
                                <i class="fa-solid fa-user fa-lg"></i>
                            </span>
                        </div>
                        <label for="password" class="form-label">Contraseña</label>
                        <div class="mb-3 input-group">
                            <input type="password" class="form-control" id="password" required>
                            <span class="input-group-text">
                                <i class="fa-solid fa-key fa-lg"></i>
                            </span>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label class="form-check-label" for="remember">Recordar</label>
                        </div>
                        <div id="buttonContainer">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    
                </div>
                <div class="modal-footer">
                    <div class="text-center mt-3">
                        ¿No tienes cuenta? <a href="" data-bs-toggle="modal" data-bs-target="#modalRegister" role="button">Registrate aquí</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Register -->
    <div
        class="modal fade"
        id="modalRegister"
        tabindex="-1"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        
        role="dialog"
        aria-labelledby="modalTitleId"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Registrarse
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class=".row mb-3 d-flex">
                            <div class="col-6">
                                <input type="text" class="form-control" id="name" placeholder="Nombre" required>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="lastname" placeholder="Apellidos" required>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Correo" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Confirmar Contraseña" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-success"
                        data-bs-dismiss="modal"
                    >
                        Registrarse
                    </button>	
                </div>
            </div>
        </div>
    </div>

    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="Po1_index.html">
						<img src="images/ascensoLogo.png" alt="Logo Ascenso">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarListContainer">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarListContainer">
						<ul class="navbar-nav me-auto" id="lista">
							<li class="nav-item">
								<a class="nav-link" href="Po1_index.html">Inicio</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="Po1_about_us.html">Sobre Nosotros</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Productos</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="Po1_cat_A.html">Producto A</a></li>
									<li><a class="dropdown-item" href="Po1_cat_B.html">Producto B</a></li>
								</ul>
							</li> 
							<form class="d-flex" id="searchForm">
								<input id="searchBar" type="text" placeholder="Buscar Productos">
								<button id="searchButton" type="button">
									<i class="fa-solid fa-magnifying-glass fa-lg" style="color: #E65F5C;"></i>
								</button>
							</form>
						</ul>
						<div class="d-flex" id="navbarRightSide">
							<a href="" data-bs-toggle="modal" data-bs-target="#modalUser" role="button">
								<i class="fa-solid fa-user fa-lg" style="color: #E65F5C"></i>
							<a href="">
								<i class="fa-solid fa-cart-shopping fa-lg" style="color: #E65F5C;"></i>
							</a>
						</div>
					</div>
				</div>
			</nav> 
        </header>
        <main id="main">

            <div id="productos">
                <div id="productCart" class="media">
                    <div class="media-body">
                        <h4>
                            Producto A
                            <button>
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                            </button>
                        </h4>
                        <div id="payment-container">
                            <div id="inputQuantity" class="mb-3 input-group">
                                <span class="input-group-text">
                                    Cantidad:
                                </span>
                                <input type="text" class="form-control" id="Quantity" placeholder="2" required>
                            </div>
                            <div id="inputPrice" class="mb-3 input-group">
                                <span class="input-group-text">
                                    Precio:
                                </span>
                                <input type="text" class="form-control" id="Quantity" placeholder="20" required>
                                <span id="moneda" class="input-group-text">
                                    MXN:
                                </span>
                            </div>
                        </div>
                    </div>
                    <img src="images/Productos/Arnes_Long_Haul_Vertical.jpg" class="mr-3" alt="Product 1">
                </div>
    
                <div id="productCart" class="media">
                    <div class="media-body">
                        <h4>
                            Producto B
                            <button>
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                            </button>
                        </h4>
                        <div id="inputQuantity" class="mb-3 input-group">
                            <span class="input-group-text">
                                Cantidad:
                            </span>
                            <input type="text" class="form-control" id="Quantity" placeholder="2" required>
                        </div>
                        <div id="inputPrice" class="mb-3 input-group">
                            <span class="input-group-text">
                                Precio:
                            </span>
                            <input type="text" class="form-control" id="Quantity" placeholder="40" required>
                            <span id="moneda" class="input-group-text">
                                MXN:
                            </span>
                        </div>
                    </div>
                    <img src="images/Productos/Magnesiera_Aroka_Parapente.jpg" class="mr-3" alt="Product 1">
                </div>
            </div>

            <div id="summary">
                <h4>Resumen de Compra</h4>
                <p>Producto A: <span id="precioA">2 x 20.00 MXN</span></p>
                <p>Producto B: <span id="precioB">2 x 40.00 MXN</span></p>
                <p>Costo de Envío: <span id="costoEnvio">60.00 MXN</span></p>
                <p>Total: <span id="total">180.00 MXN</span></p>
                <button type="button" class="btn btn-primary">Comprar</button><br>
                <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
