<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div id="card-container" class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
    <div class="card h-100">
        <div class="card-body">
            <img class="card-img-top" src="variableImagen" alt="variableDescripcion">
            <h4 class="card-title">variableNombre</h4>
            <p class="card-text">variableDescripcion</p>
        </div>
    </div>


    <div id="card-container" class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-img-top" src="./views/images/Productos/Cuerda_Alpine_7.9mm_Amarillo.webp" alt="Cuerda Amarilla">
                <h4 class="card-title">Cuerda Dinámica</h4>
                <p class="card-text">Alpine 7.9mm 70m - Tendon </p>
            </div>
        </div>
    </div>
    <div id="card-container" class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-img-top" src="./views/images/Productos/MethodS_Gatas_Octane.jpg" alt="Calzado para escalar">
                <h4 class="card-title">Gatas</h4>
                <p class="card-text">Calzado para Escalar Method S - Black Diamond</p>
            </div>
        </div>
    </div>
    <div id="card-container" class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-img-top" src="./views/images/Productos/Casco_Boreo_Azul.jpg" alt="Casco">
                <h4 class="card-title">Casco</h4>
                <p class="card-text">Casco Boreo PETZL</p>
            </div>
        </div>
    </div>
    <div id="card-container" class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-img-top" src="./views/images/Productos/Arnes_Long_Haul_Vertical.jpg" alt="Arnes">
                <h4 class="card-title">Arnes</h4>
                <p class="card-text">Arnes Long Haul - Black Diamond</p>
            </div>
        </div>
    </div>
    <div id="card-container" class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-img-top" src="./views/images/Productos/Anilla_Djinn_Axess.jpg" alt="Anilla">
                <h4 class="card-title">Anilla</h4>
                <p class="card-text">Anilla Degaine Djinn Axess 17cm - Petzl</p>
            </div>
        </div>
    </div>
    <div id="card-container" class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-img-top" src="./views/images/Productos/Manga_Larga_Playera_Logo_Responsabilitee_Dama_Red.jpg" alt="Playera">
                <h4 class="card-title">Playera</h4>
                <p class="card-text">Playera Manga Larga de Algodon P-6 Logo Responsibili-Tee Dama - Patagonia</p>
            </div>
        </div>
    </div>
    <div id="card-container" class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-img-top" src="./views/images/Productos/Webee_Arnes_Escalada.jpg" alt="Arnes">
                <h4 class="card-title">Arnes</h4>
                <p class="card-text">Arnés para Escalada Webee - Ocun</p>
            </div>
        </div>
    </div>
    <div id="card-container" class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-img-top" src="./views/images/Productos/Magnesiera_Aroka_Parapente.jpg" alt="Magnesiera">
                <h4 class="card-title">Magnesiera</h4>
                <p class="card-text">Magnersiera Zend - Aroka</p>
            </div>
        </div>
    </div>
</div>	
	

</body>
</html>