<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="productCart" class="media">
        <div class="media-body">
            <h4>
                Producto A
                <button>
                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                </button>
            </h4>
            <div id="payment-container">
                <div id="inputQuantity" class="mb-3 input-group">
                    <span class="input-group-text">
                        Cantidad:
                    </span>
                    <input type="text" class="form-control" id="Quantity" placeholder="2" required>
                </div>
                <div id="inputPrice" class="mb-3 input-group">
                    <span class="input-group-text">
                        Precio:
                    </span>
                    <input type="text" class="form-control" id="Quantity" placeholder="20" required>
                    <span id="moneda" class="input-group-text">
                        MXN:
                    </span>
                </div>
            </div>
        </div>
        <img src="./views/images/Productos/Arnes_Long_Haul_Vertical.jpg" class="mr-3" alt="Product 1">
    </div>

    <div id="productCart" class="media">
        <div class="media-body">
            <h4>
                Producto A
                <button>
                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                </button>
            </h4>
            <div id="payment-container">
                <div id="inputQuantity" class="mb-3 input-group">
                    <span class="input-group-text">
                        Cantidad:
                    </span>
                    <input type="text" class="form-control" id="Quantity" placeholder="2" required>
                </div>
                <div id="inputPrice" class="mb-3 input-group">
                    <span class="input-group-text">
                        Precio:
                    </span>
                    <input type="text" class="form-control" id="Quantity" placeholder="20" required>
                    <span id="moneda" class="input-group-text">
                        MXN:
                    </span>
                </div>
            </div>
        </div>
        <img src="./views/images/Productos/Arnes_Long_Haul_Vertical.jpg" class="mr-3" alt="Product 1">
    </div>

    <div id="productCart" class="media">
        <div class="media-body">
            <h4>
                Producto B
                <button>
                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                </button>
            </h4>
            <div id="inputQuantity" class="mb-3 input-group">
                <span class="input-group-text">
                    Cantidad:
                </span>
                <input type="text" class="form-control" id="Quantity" placeholder="2" required>
            </div>
            <div id="inputPrice" class="mb-3 input-group">
                <span class="input-group-text">
                    Precio:
                </span>
                <input type="text" class="form-control" id="Quantity" placeholder="40" required>
                <span id="moneda" class="input-group-text">
                    MXN:
                </span>
            </div>
        </div>
        <img src="./views/images/Productos/Magnesiera_Aroka_Parapente.jpg" class="mr-3" alt="Product 1">
    </div>

</body>
</html>